<!DOCTYPE html>
<html>
<head>
    <title>Cats vs Dogs</title>
    <style>
        body { text-align: center; font-family: Arial; }
        .btn {
            width: 200px;
            padding: 20px;
            margin: 10px;
            font-size: 20px;
            cursor: pointer;
            border: none;
            color: white;
        }
        .cats { background-color: #00aaff; }
        .dogs { background-color: #77e0e5; }
    </style>
</head>
<body>
    <h1>Cats vs Dogs!</h1>
    <form method="POST">
        <button class="btn cats" type="submit" name="vote" value="cats">CATS</button><br>
        <button class="btn dogs" type="submit" name="vote" value="dogs">DOGS</button>
    </form>

    <p style="color: #ccc; font-size: 14px;">Processed by container ID<br>{{ container_id }}</p>

</body>
</html>

